.idea_header {
	padding-left: 100px;
	border-bottom: 1px solid #CCCCCC;
	p {
		font-size: 50px;
	}	
	a:hover, a:visited {
		color:black;
		background-color:white;
		text-decoration:none;
	}
	.idea_name {
		width:300px;
	}
	clear:left;
}
.participants {
	width: 300px;
	height: 800px;
	border-right: 1px solid #CCCCCC;
	float:left;
	z-index:999;
	overflow:auto;
}
.idea_contents {
	float:left;
	width: 1200px;
  padding-left: 50px;
}
.center {
	float:right;
}
.add_participant {
	padding-left:20px;
	input[type*="text"] {
		width:220px;
		float: left;
	}
}
#participants {
	padding-left: 20px;
 	font-size: 30px;
	position: relative;
	width: 500px;
  height: 400px;
  overflow: auto;
}
.new_submit{
  position: absolute;
  top: 830px;
  width: 500px;
  margin:auto;
  margin-left: 400px;
}
.date_field {
  height: 25px;
}
.new_text_area {
  width: 800px;
  height: 400px;
}
.second_form {
  width: 800px; 
  height: 800px; 
  margin: auto;
  margin-top: 50px;
}
.name_field {
  width: 800px;
  margin-top: 50px;
}
.subtitle_field {
  width: 300px; 
  height: 100px; 
  float: left; 
  margin-top:20px;
}
.deadline_field {
  margin-left:100px;
  width: 200px; 
  height: 100px; 
  float: left; 
  margin-top: 20px;
}
.idea_form_submit {
  width: 500px;
  margin: auto; 
  margin-top: 50px;
}
.deadline_time_field {
  width: 200px; 
  height: 100px;
  float: left; 
  margin-top: 20px;
}
.deadline {
  font-size: 30px;
  left: 40%;
  position: absolute;
  top: 80px;
}
.check_boxes {
  display: inline;
}
.comment {
  width: 100%;
  height: 150px;
}
.vote {
  width: 400px;
  height: 800px;
  float: right;
  padding-left: 50px;
  border-left:1px solid #CCCCCC;
}


































