.idea_header {
	padding-left: 100px;
	border-bottom: 1px solid #CCCCCC;
	p {
		font-size: 50px;
	}
	clear:left;
}
.participants {
	width: 300px;
	height: 800px;
	border-right: 1px solid #CCCCCC;
	padding-left: 20px;
	float:left;
	position:fixed;
	z-index:999;
}
.idea_contents {
	margin-left:300px;
	width: 1200px;
}
.center {
float:right;
}
