.idea_header {
	padding-left: 100px;
	border-bottom: 1px solid #CCCCCC;
	p {
		font-size: 50px;
	}	
	a:hover, a:visited {
		color:black;
		background-color:white;
		text-decoration:none;
	}
	.idea_name {
		width:300px;
	}
	clear:left;
}
.participants {
	width: 300px;
	height: 800px;
	border-right: 1px solid #CCCCCC;
	float:left;
	z-index:999;
	overflow:auto;
}
.idea_contents {
	float:left;
	width: 1200px;
}
.center {
	float:right;
}
.add_participant {
	padding-left:20px;
	input[type*="text"] {
		width:220px;
		float: left;
	}
}
#participants {
	padding-left:20px;
 	font-size:30px;
	position: relative;
	width:280px;
}
