// Place all the styles related to the participants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.caret_submit {
  background:none;
  border:none;
}

.idea_contents_text_area {
  height: 1000px;
}
