body{	
	background-image: url('/back_ground.png');
	background-attachment:fixed;		
	background-position: right top;
	background-repeat: repeat-y;
	padding:0;
	margin:0;
}			
.header {
	background-color:#333;
	color:white;
	height:150px;
	padding:10px;			
}
.home_link {
	font-size:50px;
	line-height:150px;
	padding-left:50px;
	text-decoration:none;
	color:white;			
	font-family:'Architects Daughter';
}
a.home_link:hover {
	text-decoration:none;
	color:white;
}
.sign_in {
	width:300px;
	height:500px;
	border:2px solid #AAA;
	text-align:center;
	margin:auto;
	margin-top:150px;
	border-radius:5px;
}
.left_and_middle {
	float:left;
	width:100%;
}
.left_side {
	float:left;
	height:1000px;
	width:15%;
	border-right:1px solid #aaa;
	font-size:200px;
	overflow:auto;
}
.right_side {
	height:1000px;
	width:15%;
	float:left;
	border-left:1px solid #aaa;
	overflow:auto;
}
.middle {
	float:left;
	width:70%;
	height:1000px;
	border-right:1px solid #aaa;
	overflow:auto;
}
.contents {
	height:1000px;
	width:100%;
	border-bottom:1px solid #aaa;
}
.header_button {
	background-image: url("/assets/header_button_left_bar.png");
	margin-top: 90px;
	width: 120px;
	height: 50px;
	text-align:center;
	padding-top:10px;
	font-size:20px;
	position:absolute;
	color:white;
}
a.header_button:hover {
	background-image: url("/assets/header_button_selected.png");
	color:white;
	text-decoration:none;
}
#header_button1 {
	right:10px;
}
#header_button2 {
	right:130px;
}
#header_button3 {
	right:250px;
}
#header_button4 {
	right:370px;
}
















