body{	
	padding:0;
	margin:0;
}			
.header {
	padding:30px;			
	width:1000px;
	margin:auto;
	position:relative;
}
.home_link {
	font-size:30px;
	text-decoration:none;
	color:black;;			
	font-family:'Architects Daughter';
}
.sign_in {
	width:400px;
	height:500px;
	border:2px solid #AAA;
	text-align:center;
	margin:auto;
	margin-top:150px;
	padding-left:20px;
	padding-right:20px;
	padding-top:50px;
	border-radius:5px;
}
.left_and_middle {
	float:left;
	width:100%;
}
.left_side {
	float:left;
	height:1000px;
	width:15%;
	border-right:1px solid #aaa;
	font-size:200px;
	overflow:auto;
}
.right_side {
	height:1000px;
	width:15%;
	float:left;
	border-left:1px solid #aaa;
	overflow:auto;
}
.middle {
	float:left;
	width:70%;
	height:1000px;
	border-right:1px solid #aaa;
	overflow:auto;
}
.contents {
	height:1000px;
	width:100%;
	border-bottom:1px solid #aaa;
}
.header_button {
	margin-top:10px;
	text-align:center;
	font-size:20px;
	position:absolute;
	color:black;
}
a.header_button:hover {
	border-bottom:2px solid black;
}
#header_button1 {
	right:0px;
	position: absolute;
}
#header_button2 {
	width: 90px;
	right:100px;
}
#header_button3 {
	width: 90px;
	right:200px;
}
#header_button4 {
	width: 90px;
	right:300px;
}
.sign_font {
	font-size:20px;
	font-weight:bold;
}
.sign_form {
	width:400px;
	margin:auto;
}
.logo {
	margin:auto;
	float:left;
	height:400px;
	border-right:2px solid black;
	margin-top:100px;
	padding-top:100px;
	padding-right:200px;
	
}
.home_link_sign {
	margin:auto;
	font-size:120px;
	font-family:'Architects Daughter';
}
.sign_content {
	float:left;
	margin-left:200px;
}
.friend {
	width:600px;
	height:800PX;
	margin:auto;
	margin-top:50px;
}
.friend_header {
	width:600px;
	height:80px;
	border-bottom:2px solid black;
}
.add_icon {
	right: 0px;
	position: absolute;
}
.friend_index {
	width:600px;
	height:720px;
	overflow:auto;
}
.friend_table {
	width: 600px;
}
a.link:hover {
	text-decoration:none;
	color:black;
	background-color:white;
}
a.link:visited {
	text-decoration:none;
	color:black;
	background-color:white;
}
a.link:active {
	text-decoration:none;
	color:black;
	background-color:white;
}
.friend_substract {
	float:right;
}
.menu {
	width:90px;
	margin-top:10px;
	text-align:center;
color: black;
}
.menu:hover {
	border-bottom: 2px solid black;
color: black;
}
.idea_table_row {
	display:table-row;
}
#awaiters {
	position: relative;
	font-size: 30px;
}

