<table class = "table-hover" width = "100%">
  <thead>
    <tr>
      <th style = "padding-left:20px; border-bottom: 1px solid #CCCCCC;"><h1>Participant</h1></th>
    </tr>
  </thead>
  <tbody>
    <% @idea.participants.each do |participant| %>
      <tr>
        <td style = "padding-left:20px;" onclick = "location.href='<%= url_for(controller: :participants, action: :edit, id: participant.id) %>'">
          <h2>
            <%= find_name(participant.user_id) %>
        </h2>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
