<div>
	<div class = "idea_header">
		<p style><%= @idea.name %></p><br />
		<br />
	</div>	
	<div class = "participants">
		<h1>Participant</h1>

		<h1>
			<% @idea.users.each do |participant| %>
		 		<% if Friend.find_by(id: participant.id).nil? %>
					<%= participant.name %>
				<% else %>
					<%= Friend.find_by(id: participant.id).name %>
				<% end %><br />
			<% end %>
		</h1>
	</div>
</div>

