<div style = "padding:50px;">
<% if @user.permission == 2 %>
	<div style = "right:20px; position:absolute;">
	<%= link_to("edit", action: :edit, id: @idea.id) %>
	</div>
<% end %>
<% if !@idea.discription.nil? %>
  <%= @idea.discription.html_safe %>
<% end %>
</div>
